
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000; 
  width: 190px;
  background-color: #CEE5E1;
  padding: 20px;
  padding-top: 40px;
}

.sidebar h1 {
  margin-bottom: 30px;
  margin-left: 30px;
}

.sidebar-link {
  padding-top: 50px;
  margin-left: 30px;
  text-align: left;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar-link5 {
  padding-top: 350px;
  margin-left: 30px;

  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar-button {
  background-size: contain;
  background-image: url(images/menu.png);
  position: absolute; /* Or 'absolute' */
  top: 30px;
  left: 30px;
  z-index: 1000; 
  width: 30px; 
  height: 30px; 
  border: 2px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.sidebar-button:hover {
  opacity: 0.8;
}

.sidebar-button:focus {
  outline: none;
  
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-close-button {
  margin-left: 140px;
  border-radius: 5px;
  border-color: #598d84;
  background-color: #598d84;
  padding: 5px;
  cursor: pointer;
  
}
