@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.grocery-mealmap-container {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: auto;
  flex-direction: column; 
  background-color: #dfdddd;
}

.grocery-lists-content {
  display: flex;
  flex-direction: row;
}

.grocery-lists-main-content {
  margin-top: 37px;
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.all-lists-title {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.tabs-grocery-lists {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-left: 415px;
  margin-top: 40px;
  margin-bottom: 53px;
  border-radius: 50px;
  height: 75px;
  width:700px;
  padding-top: 5px;
  border-width: 1.5px;
  border-color: #656565;
}

.tab-grocery-lists {
  font-family: 'Lato', sans-serif;
  border: none;
  cursor: pointer;
  background-color: #dfdddd;
  font-size: 19px;
  font-weight: 55px;
  color: rgb(0, 0, 0);
  width: 120px;
  height: 62px;
}


.tab-grocery-lists.active {
  border-radius: 20px;
  box-shadow: 0 3px 7px 0 rgba(43, 43, 43, 0.1), 0 5px 10px 0 rgba(43, 43, 43, 0.1);
  color: #496a62;
}

.lists-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
}

.list-card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  position: relative;
  border-radius: 5px;
  height: 260px;
  width: 300px;
  background-color: #5b7d6cb2;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 5px 19px 0 rgba(0, 0, 0, 0.1);
}

.grocery-list-image {
  width: 130px; 
  height: 130px; 
  margin-left: 87px;
  margin-bottom: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 

}

.bottom-list-label {
  border-top: 2px solid #344a45;
  padding-top: 20px;
  height: 80px;
  background-color: #f2f2f2df;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grocery-list-name {
  font-family: 'Lato', sans-serif;
  margin-left: 40px;
  font-size: 19px; 
  color: #101111;

}

.delete-grocery-list {
  background-size: contain;
  background-image: url(./images/trash.png);
  position: absolute; /* Or 'absolute' */
  top: 197px;
  left: 250px;
  z-index: 1000; 
  width: 20px; 
  height: 20px; 
  border: 2px;
  margin-top: 13px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}



