@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.all-grocery-lists-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will take the full viewport height */
  padding: 20px; /* Add padding for smaller screens */
}

.grocery-list-container {
  width: 100%; /* Full width to center the card */
  max-width: 600px; /* Maximum width of the card */
  padding-top: 50px;;
  margin: 0 auto; /* Center the card horizontally */
}

.grocery-list-card {
  padding-top: 20px; /* Adjust the value as needed */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a card effect */
  
}

.grocery-list-card h2, .grocery-list-card h3 {
  color: #333; /* Darker text for better readability */
}

.grocery-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea; /* Subtle separator */
}

.ingredient-name {
  font-weight: bold;
}

.quantity-unit {
  font-weight: normal;
  color: #666;
}

/* Responsive adjustments can be made with media queries if necessary */
@media (max-width: 768px) {
  .all-grocery-lists-page {
    height: auto; /* Adjust height for smaller devices */
  }

  .grocery-list-container {
    padding: 20px; /* Add more padding on smaller screens */
  }
}
