@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --transparency: 0.3;
}

.list-mealmap-container {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: auto;
  flex-direction: column;
  background-color: #dfdddd;
  padding-bottom: 30px;
}

.tab-list {
  margin-bottom: 10px;
  text-align: center;
  background-color: #bbbbbb;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 55px;
  border-radius: 20px;
  height: 60px;
}

.tab-list-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 400;
}

.list-content {
  font-family: 'Lato', sans-serif;

}

.list-main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-left: 70px;
 
  transition: margin-left 0.3s ease;
}

.items {
  margin-right: 70px;
  background-color: #a09f9f42;
  border-radius: 10px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.single-list-name {
  margin-left: 70px;
  font-size: 26px;
}

.grocery-items-title {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 70px;
}

.items-title {
  color: #6c6969;
}

.items-list {
  list-style-type: square; 
  margin-top: 25px;
  padding-left: 0; 
  margin-left: 45px;
  font-size: 17px;
}

.items-list li {
  margin-left: 40px; 
  margin-top: 15px;
}

.single-item {
  margin-left: 20px;

}