.user-logo {
  background-size: contain;
  background-image: url(./images/user.png);
  top: 10px;
  z-index: 1000; 
  width: 27px; 
  height: 27px; 
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.user-name {
  margin-right: 70px;
  margin-left: 18px;
}