@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --transparency: 0.3;
}
.recipe-mealmap-container {
  display: flex;
  height: 100vh;
  margin: 0;
  overflow: auto;
  flex-direction: column;
  background-color: #dfdddd;
  padding-bottom: 30px;
}

.tab-recipe {
  margin-bottom: 10px;
  text-align: center;
  background-color: #bbbbbb;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 55px;
  border-radius: 20px;
  height: 60px;
 
}

.tab-info-title {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
  font-weight: 500;
}

.recipe-content {
  font-family: 'Lato', sans-serif;
}

.recipe-main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  transition: margin-left 0.3s ease;
}

.ingredients {
  margin-right: 70px;
  background-color: #a09f9f42;
  border-radius: 10px;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.single-recipe-name {
  margin-left: 70px;
  font-size: 26px;
}

.recipe-ingredients-title {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 70px;
}

.ingredients-title {
  color: #6c6969;
}

.ingredients-list {
  list-style-type: none; 
  margin-top: 25px;
  padding-left: 0; 
  margin-left: 45px;
  font-size: 17px;
}

.ingredients-list li {
  margin-left: 0; 
  margin-top: 15px;
}

.ingredient {
  margin-left: 20px;
}

.alternatives {
  margin-left: 70px;
  border-radius: 10px;
  background-color: #a09f9f42;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.single-alternative-name {
  margin-left: 70px;
  font-size: 26px;
}

.recipe-alternatives-title {
  margin-top: 15px;
  font-size: 22px;
  margin-left: 70px;
}

.alternative-title {
  color: #6c6969;
}

.replacements-list {
  list-style-type: none; 
  margin-top: 25px;
  padding-left: 0; 
  margin-right: 45px;
  font-size: 17px;
}

.replacements-list li {
  margin-left: 0; 
  margin-top: 15px;
}

.replacement {
  margin-left: 20px;
}

.add-ingredients{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.add-ingredients-button:active {
  color: #000000;
  box-shadow: 1px 1px 1px rgba(0.5,0.5,0.5,0.5);
}


.add-ingredient-recipe {
  margin-left: 114px;
  margin-right: 114px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #a09f9f42;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 40px;
}

.new-ingredient-container {
  margin-left: 20px;
}

input[type="text"] {
  width: 30%; 
  padding: 8px 15px; 
  padding-left: 10px;
  border: 1px solid #d2e9f8; 
  border-radius: 10px; 
  box-sizing: border-box; 
}

#new-quantity-input {
  width: 200px;
}

input[type="text"]:focus {
  outline: none; 
  border-color: #d2e9f8;
}

.new-ingredient-container label {
  margin-right: 20px;
  margin-left: 20px;
}

.new-ingredient-label {
  margin: 10px;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}

.add-new-ingredient-button {
  font-family: 'Lato', sans-serif;
  padding: 10px 10px;
  width: 160px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: #496a62;
  font-weight: 30px;
  font-size: 17px;
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}